<div class="container">
  <div class="card mt-5" style="align-items: center;">
    <h1 >Student Dashboard</h1>
  </div>


  <div class="card mt-5" style="padding: 20px;">
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)" >

      <div class="form-group">
        <label for="name">Student Name :</label>
        <input type="text" #name (ngModel)="name" name="name" id="name" class="form-control" placeholder="Student name">
      </div><br>

      <div class="form-group">
        <label for="name">Student Address :</label>
        <input type="text" #address (ngModel)="address" name="address" id="address" class="form-control" placeholder="Student address">
      </div>
      <br>

      <div class="form-group">
        <label for="name">Student Percentage :</label>
        <input type="text" #percentage (ngModel)="percentage" name="percentage" id="percentage" class="form-control" placeholder="Student percentage">
      </div>
      <br>

      <div class="form-group"  >
       <input type="submit" class="btn btn-primary w-100" value="Register">
      </div>

    </form>
  </div>

  <div class="mt-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Roll Number</th>
          <th>Name</th>
          <th>Address</th>
          <th>Percentage</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let student of studentDetails">
          <td> {{student.rollNo}} </td>
          <td> {{student.name}} </td>
          <td> {{student.address}} </td>
          <td> {{student.percentage}} </td>
          <td> <button type="submit" class="btn btn-primary"> Edit</button> </td>
    <td> <button type="submit" class="btn btn-danger" (click)="deleteStudent(student)"> Delete</button> </td>
          
        </tr>

      </tbody>
    </table>
  </div>

</div>